<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <sebm-google-map>
    <google-map-component (mapLoaded)="onMapLoaded()"></google-map-component>
    <sebm-google-map-marker
      [latitude]="eventItem.venue.geo.coordinates[1]"
      [longitude]="eventItem.venue.geo.coordinates[0]">
    </sebm-google-map-marker>
  </sebm-google-map>

  <ion-list-header>Overview</ion-list-header>
  <div padding class="event">
    <ion-label light>Organization</ion-label>
    <ion-label>{{eventItem.organization.name}}</ion-label>
    <ion-label light>Date</ion-label>
    <ion-label>{{ _dateSvc.toMonthAndDay(eventItem.start) }}</ion-label>
    <ion-label light>Location</ion-label>
    <ion-label>{{eventItem.venue.name}}</ion-label>
    <ion-label light>Online Registration Ends</ion-label>
    <ion-label>{{ _dateSvc.toMonthDayTime(eventItem.registration.end) }}</ion-label>
    <button (click)="openDetailUri()">Register</button>
  </div>

  <div class="desc">
    <ion-list-header>Description</ion-list-header>
    <div class="desc-body" [innerHTML]="eventItem.description"></div>
  </div>

  <div class="drivers">
    <ion-list-header>Registered Drivers</ion-list-header>
      <ion-list *ngIf="driversLoaded">
        <div *ngFor="let driver of drivers">
          <ion-item *ngIf="driver.firstName">
            {{ driverLine1(driver) }} <br>
            {{ driverLine2(driver) }}
          </ion-item>
          <ion-list-header *ngIf="!driver.firstName">
            {{ driver.class }}
          </ion-list-header>
        </div>
      </ion-list>
    <ion-spinner *ngIf="!driversLoaded"></ion-spinner>
    <ion-label *ngIf="driversLoaded && drivers && !drivers.length">No drivers found</ion-label>
  </div>
</ion-content>
