<ion-header>

  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="schedulePage">
  <sebm-google-map>
    <google-map-component (mapLoaded)="onMapLoaded()"></google-map-component>
    <div *ngFor="let eventItem of events; let i=index">
      <sebm-google-map-marker
        [latitude]="eventItem.venue.geo.coordinates[1]"
        [longitude]="eventItem.venue.geo.coordinates[0]"
        [iconUrl]="{ url: markerUrl(eventItem) }"
        (markerClick)="viewEvent(eventItem)">
      </sebm-google-map-marker>
    </div>
  </sebm-google-map>

  <ion-list>
    <ion-list-header>Events
      <ion-icon name="md-reorder" (click)="showSortMenu($event)" (itemSelected)="sortScheduleBy($event)"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let eventItem of events">
      <div (click)="viewEvent(eventItem)">
        <div class="left">
          <div class="type" [class.rx]="eventType(eventItem) === 'RX'">{{ eventType(eventItem) }}</div>
        </div>
        <div class="right">
          <div class="heading line">
            {{eventItem.organization.name}}
          </div>
          <div class="line">{{ _dateSvc.toMonthAndDay(eventItem.start) }}</div>
          <div class="line">{{eventItem.venue.name}}</div>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
